#calendar {
    width: 80vw;
    height: 78vh;
    margin: 0px auto;
    background-color: transparent;
    padding: 10px;
    border: none;
}

.fc-theme-standard .fc-popover {
    background-color: #000 !important;
}

.fc .fc-popover-title {
    color: #fff !important;
}

.fc .fc-daygrid-more-link {
    color: red !important;
}

.modal-content {
    border: none;
    line-height: 1;
}

#containerHour {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0px !important;
}

#containerHour div {
    width: 48%;
}

#env {
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.911);
    transition: ease 0.2s;
    outline: 0;
    border: none;
}

#env:hover {
    background-color: rgb(0, 0, 0);
}

.Container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(158, 158, 158, 0.295);
    box-shadow: rgba(0, 0, 0, 0.26) 1.95px 1.95px 2.6px;
}

.block h1 {
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    #calendar {
        width: 95vw;
    }
}
