main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
}

.containerField {
    display: flex;
    flex-direction: column;
}

.containerField:nth-child(3) {
    margin-top: 15px;
}

.containerField label {
    font-size: 13px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

.envForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.form input {
    border: 1px solid rgba(22, 22, 22, 0.418);
    border-radius: 3px;
    margin-top: 5px;
    width: 22vw;
    height: 30px;
    margin: 0;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(248, 248, 248);
    margin-bottom: 5px;
}

#inputData {
    width: 13vw;
}

.form input:focus {
    outline: 1px solid rgb(0, 3, 51);
}

.form textarea {
    padding: 3px;
    border: 1px solid rgba(22, 22, 22, 0.418);
    border-radius: 3px;
    margin-top: 5px;
    width: 40vw;
    height: 240px;
    margin: 0;
    padding: 5px;
    resize: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(248, 248, 248);
}

.form textarea:focus {
    outline: 1px solid rgb(0, 3, 51);
}

#Env {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 30px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.904);
    transition: ease 0.2s;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.308) 1.95px 1.95px 2.6px;
}

#Env:hover {
    background-color: rgb(0, 0, 0);
}

.alert {
    margin-top: -50px;
}

.close:focus {
    outline: 0;
}

/**--------------------------------------------MOBILE-----------------------------------------------**/

@media only screen and (max-width: 768px) {
    .inputsContainer {
        flex-direction: column;
        width: 90vw;
    }

    .containerField:nth-child(3) {
        margin-top: 5px;
    }

    #inputData {
        width: 90vw;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .form input {
        padding: 3px;
        border: 1px solid rgba(22, 22, 22, 0.418);
        border-radius: 5px;
        width: 90vw;
        height: 5vh;
        margin: 0;
        padding: 5px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-bottom: 5px;
    }

    .form textarea {
        padding: 3px;
        border: 1px solid rgba(22, 22, 22, 0.418);
        border-radius: 5px;
        margin-top: 5px;
        width: 90vw;
        height: 35vh;
        margin: 0;
        padding: 5px;
        resize: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    #Env {
        width: 90vw;
    }

    .alert {
        max-width: 95vw;
        margin-top: -2vh;
        margin-bottom: 5px;
    }
}
