main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formChangePass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
    width: 30em;
}

.inputsContainer {
    width: 100%;
    margin: 0.5em 0em;
}

label {
    width: 100%;
}

input {
    border: 1px solid rgba(22, 22, 22, 0.418);
    border-radius: 3px;
    width: 92%;
    margin-top: 5px;
    height: 30px;
    margin: 0;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgba(240, 248, 255, 0.486);
    margin-bottom: 5px;
}

input:focus {
    outline: 1px solid rgb(0, 3, 51);
}

input.pw {
    -webkit-text-security: disc;
}

#eyePassword {
    content: url("../img/eyePassword.png");
}

#eyePassword.cancel {
    content: url("../img/cancelEyePassword.png");
}

#eyeConfirmPassword {
    content: url("../img/eyePassword.png");
}

#eyeConfirmPassword.cancel {
    content: url("../img/cancelEyePassword.png");
}

#Env {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.904);
    transition: ease 0.2s;
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.308) 1.95px 1.95px 2.6px;
}

#Env:hover {
    background-color: rgb(0, 0, 0);
}


.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgba(158, 158, 158, 0.295);
}

/**--------------------------------------------MOBILE-----------------------------------------------**/


@media only screen and (max-width: 768px) {

    .empty {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        font-size: 11px;
        text-transform: uppercase;
        border-radius: 3px;
        background-color: rgba(158, 158, 158, 0.295);
    }

}