.Container {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 158, 158, 0.295);
    padding: 10px;
    border-radius: 4px;
    gap: 5px;
}

.empty h1 {
    font-size: 25px;
    margin-bottom: 0;
}

/**--------------------------------------------MOBILE-----------------------------------------------**/

@media only screen and (max-width: 768px) {
}
