main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CONTAINER PRINCIPAL */
#containerAdmin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 70vh;
    margin-top: 0.5em;
    background: #dedede;
    /**box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);**/
    border-radius: 1em 0.5em;
}

/* MENU BAR */
#menuAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background: #b7b5b5;
}

/* OPÇÕES DO MENU */
.menuOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 24px;
    color: #000000;
    background-color: #b7b5b5;
}

.menuOptions:hover {
    background-color: #a3a1a1;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

#teachers.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#managements.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#enviroments.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#equipments.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* CONTÂINER TABELA CRUD */
#containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

#tableCrud {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 95%;
    margin: 1em;
    background: #b7b5b5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em 0.5em;

    overflow-x: auto;
}

#tableCrud::-webkit-scrollbar {
    width: 15px;
}

#tableCrud::-webkit-scrollbar-track {
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* color of the tracking area */
}

#tableCrud::-webkit-scrollbar-thumb {
    background-color: #a3a1a1;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid rgb(223, 223, 223);
    /* creates padding around scroll thumb */
}

.table tr {
    width: 100%;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.table tbody td {
    vertical-align: middle;
}

.btn-modal {
    font-size: 0.9em;
    width: 100%;
}

.btn-edit {
    margin-left: 1.3em;
}

.checkbtn {
    display: none;
}

.checkbtn:hover {
    background-color: rgb(10, 10, 10);
    border-radius: 1em;
    cursor: pointer;
    color: rgb(168, 160, 148);
    text-decoration: none;
}

#check {
    display: none;
}

#env {
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.911);
    transition: ease 0.2s;
    outline: 0;
    border: none;
}

#env:hover {
    background-color: rgb(0, 0, 0);
}

#pagination nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* NÃO MEXER, EM HIPPÓTESE ALGUMA */
#btnCad {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#btnCad:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
#btnCad.focus,
#btnCad:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
#btnCad.disabled,
#btnCad:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#btnCad:not(:disabled):not(.disabled).active,
#btnCad:not(:disabled):not(.disabled):active,
.show > #btnCad.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
#btnCad:not(:disabled):not(.disabled).active:focus,
#btnCad:not(:disabled):not(.disabled):active:focus,
.show > #btnCad.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* NÃO MEXER, EM HIPPÓTESE ALGUMA */
#btnFiltro {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
#btnFiltro:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
#btnFiltro.focus,
#btnFiltro:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
#btnFiltro.disabled,
#btnFiltro:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
#btnFiltro:not(:disabled):not(.disabled).active,
#btnFiltro:not(:disabled):not(.disabled):active,
.show > #btnFiltro.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
#btnFiltro:not(:disabled):not(.disabled).active:focus,
#btnFiltro:not(:disabled):not(.disabled):active:focus,
.show > #btnFiltro.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

/* NÃO MEXER, EM HIPPÓTESE ALGUMA */
#btnDanger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
#btnDanger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
#btnDanger.focus,
#btnDanger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
#btnDanger.disabled,
#btnDanger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
#btnDanger:not(:disabled):not(.disabled).active,
#btnDanger:not(:disabled):not(.disabled):active,
.show > #btnDanger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}
#btnDanger:not(:disabled):not(.disabled).active:focus,
#btnDanger:not(:disabled):not(.disabled):active:focus,
.show > #btnDanger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h5,
h5 {
    font-size: 1.25rem;
}

/* ------------------- MOBILE -------------------- */

/* Mobile S */
@media only screen and (max-width: 300px) {
    * {
        font-size: 50px;
    }

    .modal-content {
        font-size: 30px;
    }
}

@media only screen and (max-width: 575px) {
    * {
        font-size: 15px;
    }

    .modal-content {
        font-size: 30px;
    }
}

@media only screen and (min-width: 576) and (max-width: 620px) {
    * {
        font-size: 50px;
    }

    .modal-content {
        margin-top: 7%;
        font-size: 30px;
        width: 250vw;
        margin-left: -81vw;
    }
}

@media only screen and (max-width: 920px) {
    .modal-content {
        margin-top: 7%;
    }

    #menuAdmin {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0px, -50px, 0px);
        background-color: lavender;
        flex-direction: row;
        flex-wrap: wrap;
        height: 10%;
        /* margin: 0px 0px 500px 0px; */
        z-index: 2;
        font-size: 15px;
    }

    .checkbtn {
        background-color: black;
        text-transform: uppercase;
        color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        margin-top: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .menuOptions {
        top: 0pt;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150%;
        /* line-height: 30px; */
        color: lavender;
        background-color: #242424;
    }

    #check:checked ~ #menuAdmin {
        animation: hidden 1s ease forwards;
    }

    #tableCrud {
        overflow-x: auto;
        height: 100%;
    }

    .table {
        display: block;
        padding-left: 10px;
        text-align: center;
        width: 100%;
    }

    .table thead {
        width: 50%;
    }

    #containerTable {
        height: 65vh;
        width: 95vw;
        margin-top: -6vh;
    }
}

@keyframes hidden {
    100% {
        transform: translate3d(0px, 0px, 0px);
        transition: 0.5s;
        opacity: 1;
        visibility: visible;
        margin: 0px 0px 450px 0px;
    }
}
