main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* CONTAINER PRINCIPAL */
#containerAdmin {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    height: 70vh;
    margin-top: 0.5em;
    background: #dedede;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em 0.5em;
}

/* MENU BAR */
#menuAdmin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background: #b7b5b5;
}

/* OPÇÕES DO MENU */
.menuOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    line-height: 24px;
    color: #000000;
    background-color: #b7b5b5;
}

.menuOptions:hover {
    background-color: #a3a1a1;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

#teachers.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#managements.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#enviroments.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#equipments.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #a3a1a1;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

/* CONTÂINER TABELA CRUD */
#containerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80%;
}

#tableCrud {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    margin: 1em;

    background: #b7b5b5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em 0.5em;

    overflow-x: auto;

}

.table tr {
    width: 100%;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.table tbody td {
    vertical-align: middle;
}

.btn-modal {
    font-size: 0.9em;
    width: 100%;
}

.btn-edit {
    margin-left: 1.3em;
}

.checkbtn {
    display: none;
}

.checkbtn:hover {
    background-color: rgb(10, 10, 10);
    border-radius: 1em;
    cursor: pointer;
    color: rgb(168, 160, 148);
    text-decoration: none;
}

#check {
    display: none;
}

#env {
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 25px;
    width: 10vw;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer; */
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.911);
    transition: ease 0.2s;
    outline: 0;
    border: none;
}

#env:hover {
    background-color: rgb(0, 0, 0);
} 

/* ------------------- MOBILE -------------------- */

/* Mobile S */
@media only screen and (max-width: 300px) {
    * {
        font-size: 50px;
    }

    .modal-content {
        font-size: 30px;
    }
}

@media only screen and (max-width: 575px) {
    * {
        font-size: 15px;
    }

    .modal-content {
        font-size: 30px;
    }

    
}

@media only screen and (min-width: 576) and (max-width: 620px) {
    * {
        font-size: 50px;
    }

    .modal-content {
        margin-top: 7%;
        font-size: 30px;
        width: 250vw;
        margin-left: -81vw;
    }
    
}
@media only screen and (max-width: 920px) {
    .modal-content {
        margin-top: 7%;
    }

    #menuAdmin {
        visibility: hidden;
        opacity: 0;
        transform: translate3d(0px, -50px, 0px);
        background-color: lavender;
        flex-direction: row;
        flex-wrap: wrap;
        height: 10%;
        /* margin: 0px 0px 500px 0px; */
        z-index: 2;
        font-size: 15px;
    }

    .checkbtn {
        background-color: black;
        text-transform: uppercase;
        color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        margin-top: 10px;
        font-size: 15px;
        cursor: pointer;
    }

    .menuOptions {
        top: 0pt;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150%;
        /* line-height: 30px; */
        color: lavender;
        background-color: #242424;
    }

    #check:checked ~ #menuAdmin {
        animation: hidden 1s ease forwards;
    }

    #containerTable {
        height: 70%;
    }

    #tableCrud {
        overflow-x: auto;
    }
    
    .table{
        display: block;
        padding-left: 10px;
        text-align: center;
        width: 100%;
    }

    .table thead {
        width: 50%;
    }

    #containerTable {
        width: 107%;
    }
}

@keyframes hidden{
    100%{
        transform: translate3d(0px, 0px, 0px);
        transition: 0.5s;
        opacity: 1;
        visibility: visible;
        margin: 0px 0px 450px 0px;
    }

}
