#calendar {
    width: 80vw;
    height: 78vh;
    margin: 0px auto;
    background-color: transparent;
    padding: 10px;
    border: none;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.containerField {
    display: flex;
    flex-direction: column;
}
.containerField input {
    border: 1px solid rgba(22, 22, 22, 0.418);
    border-radius: 2px;
    margin-top: 5px;
    height: 25px;
    width: 15vw;
    padding: 5px;
    background-color: #d9d9d9;
    font-size: 14px;
}
.containerField label {
    font-size: 13px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: -5px;
}

.hourSelect {
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

#Env {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 25px;
    width: 10vw;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    color: rgb(230, 230, 230);
    background-color: rgba(0, 0, 0, 0.911);
    transition: ease 0.2s;
    outline: 0;
    border: none;
}

#Env:hover {
    background-color: rgb(0, 0, 0);
}

/**--------------------------------------------BOOTSTRAP-----------------------------------------------**/

.close:focus {
    outline: 0;
}

.form-select {
    margin-top: 5px;
    border: 1px solid rgba(22, 22, 22, 0.418);
    border-radius: 2px;
    margin-top: 5px;
    height: 25px;
    width: 15vw;
    background-color: #d9d9d9;
    font-size: 14px;
}

#hourSelectInput {
    width: 6vw;
}

.modal-header {
    padding: 5px;
    border-bottom: none;
}

.modal-body {
    padding: 10px;
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-footer {
    justify-content: center;
    align-content: center;
    padding: 5px;
    border-top: 1px solid rgba(22, 22, 22, 0.418);
}

.modal-dialog-centered {
    justify-content: center;
}

.modal-content {
    width: auto;
    height: auto;
    padding: 15px;
    border: 2px solid #000;
    background-color: #eeeeee;
}

/**--------------------------------------------MOBILE-----------------------------------------------**/

@media only screen and (max-width: 768px) {
    #calendar {
        width: 100vw;
        height: 75vh;
        padding: 5px;
    }
}
