/* Padrões da página */
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
    font-size: 20px;
    box-sizing: border-box;
    outline: 0;
}

button.close {
    outline: 0;
    border: none;
}

.alert {
    margin-top: 2rem;
}

.alert li,
ul {
    font-size: 15px;
    margin-bottom: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgb(223, 223, 223);
}

/* Seção inicial */
#header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#header img {
    width: 6.5em;
}

/* Seção principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-bottom: -7vh;
    margin-top: 6vh;
    background-color: rgb(223, 223, 223);
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 37vw;
    height: 40vh;
    padding: 20px;
    background: transparent;
    border-radius: 0.3em;
    border: 2px solid #000;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.loginForm a {
    text-decoration: none;
    color: #000;
}

.loginForm a:hover {
    text-decoration: underline;
}

/* INPUTS */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 3vh;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 35vw;
    height: 50px;
    position: relative;
}

.label {
    position: absolute;
    left: 50px;
    top: 13px;
    transition: all 0.2s;
    padding: 0 2px;
    font-size: 15px;
    z-index: 1;
    color: #0000006e;
}

.text-input {
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 6vh;
    border: 0.2em solid #00000067;
    background: transparent;
    border-radius: 0.3em;
    font-size: 14px;
    outline: none;
    padding: 15px;
    transition: all 0.3s;
    color: #000000;
}

.label::before {
    content: "";
    height: 5px;
    background: transparent;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #000000e7;
}

.text-input:focus + .label,
.filled {
    top: -8px;
    color: #000000e7;
    background-color: rgb(223, 223, 223);
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

#password.pw {
    -webkit-text-security: disc;
    position: relative;
}

#confirmPassword.pw {
    -webkit-text-security: disc;
    position: relative;
}

#eyePassword {
    content: url("../img/eyePassword.png");
    position: absolute;
    right: 10%;
    cursor: pointer;
    width: 27px;
}

#eyePassword.cancel {
    content: url("../img/cancelEyePassword.png");
}

#eyeConfirmPassword {
    content: url("../img/eyePassword.png");
    position: absolute;
    right: 45px;
    cursor: pointer;
    width: 27px;
}

#eyeConfirmPassword.cancel {
    content: url("../img/cancelEyePassword.png");
}

.passwordText {
    text-align: center;
    width: 35vw;
}

.passwordText p,
strong {
    font-size: 17px;
}

.remember {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 29vw;
    font-size: 14px;
    gap: 5px;
}

.forgot-password a {
    font-size: 0.7em;
}

/* Botão */
.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    margin-top: 40vh;
    padding: 10px;
    z-index: 2;
}

.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 23vw;
    padding: 3px;
    font-size: 15px;
    border-radius: 0.2em;
    cursor: pointer;
    color: #ffff;
    background-color: rgb(0, 0, 0);
    transition: ease-in 0.2s;
    border: none;
}

.loginButton:hover {
    width: 21vw;
}

/* Seção final  */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/* MOBILE - RESPONSIVIDADE */
@media (max-width: 375px) {
    #eyePassword {
        width: 7.5vw;
    }
}

@media (max-width: 425px) {
    #header img {
        width: 5em;
    }

    .logo img {
        width: 70vw;
    }

    .loginForm {
        width: 90vw;
    }

    .container {
        width: 90vw;
    }

    .input-container {
        width: 100%;
    }

    .text-input {
        width: 100%;
    }

    .label {
        left: 10px;
    }

    #eyePassword {
        width: 7vw;
        right: 10px;
    }

    .buttonContainer {
        width: 60vw;
    }

    .loginButton {
        width: 100%;
    }

    .loginButton:hover {
        width: 90%;
    }

    .alert {
        margin-top: 1.5rem;
        width: 90vw;
        height: 10vh;
        font-size: 16px;
    }

    .alert-dismissible .close {
        top: -10px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #header img {
        width: 10em;
    }

    .logo img {
        width: 65vw;
    }

    .loginForm {
        /* height: 50vh; */
        width: 90vw;
    }

    .container {
        width: 90vw;
    }

    .input-container {
        width: 90%;
        margin-bottom: 30px;
    }

    .text-input {
        width: 100%;
        font-size: 1.25em;
    }

    .label {
        left: 15px;
        top: 5px;
        font-size: 1.25em;
    }

    .text-input:focus + .label,
    .filled {
        top: -33px;
        color: #000000e7;
        background-color: rgb(223, 223, 223);
        font-size: 24px;
    }

    #eyePassword {
        width: 5vw;
        right: 15px;
    }

    .buttonContainer {
        width: 60vw;
    }

    .forgot-password {
        margin-top: 15px;
    }

    .forgot-password a {
        font-size: 1.25em;
    }

    .loginButton {
        width: 100%;
        font-size: 1.25em;
    }

    .loginButton:hover {
        width: 90%;
    }

    .alert {
        margin-top: 1.5rem;
        width: 90vw;
        font-size: 30px;
    }

    .alert-dismissible .close span {
        zoom: 1.75;
    }

    footer {
        font-size: 20px;
    }
}
