/* main {
    margin-top: 18vh;
} */

.loginForm img {
    position: fixed;
    width: 15px;
    height: 15px;
    color: black;
    margin-left: 133px;
    margin-top: 14px;
    cursor: pointer;
}

/* celular */
@media (min-height: 280px) and (max-height: 450px) {
    main {
        margin-top: 4vh;
    }

    .loginForm {
        height: auto;
    }

    footer {
        display: none;
    }
}





@media (max-width:767px) {
    .loginForm img {
        position: fixed;
        margin-right: 90vw;
    }

    .logo {
        width: 110px;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30vh;
        margin-left: 0;
    }

    .loginForm input {
        width: 70vw;
        max-width: 300px;
    }

    .loginForm input:focus {
        width: 73vw;
    }

    .loginForm {
        width: 80vw;
        max-width: 400px;
    }

    .logoASR {
        background: rgb(226, 226, 226);
        display: flex;
        width: 120px;
        height: 120px;
        align-items: center;
        justify-content: center;
        border-radius: 46%;
        margin-bottom: -20px;
        margin-left: -21px;
        margin-top: -124px;
        box-shadow: 1px rgb(36, 36, 36, .4);
    }

    .logoASR img {
        width: 100px;
        background: transparent;
    }

    footer {
        font-size: 12px;
    }

    .loginForm h1 {
        display: none;
    }

    .loginForm img {

        margin-left: 30vw;
        margin-top: -10px;
    }
}